body {
    font-size: 12px; 
    -webkit-print-color-adjust:exact; 
    background-color: #f6f6f6;
    color: #000;
    margin: 0;
    padding: 0; 
    margin: 0 auto 0 auto;
}

#bussiness .first{
    font-family: Impact;
    font-size: 32px;
    padding-left: 15px;
    vertical-align: middle;
}





